    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Q<span class="highlight">onnect</span></h2>
            <p class="intro">Smarter Wi-Fi credentials for waiting spaces.</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://themes.3rdwavemedia.com/" target="_blank">Demo</a>
                <a class="btn btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank">Download</a>
            </div>
            <ul class="meta list-inline">
 
            </ul><!--//meta-->
        </div><!--//container-->

    </section><!--//promo-->
